<md-content class="ig-grid" md-whiteframe="3">
    <header class="ig-grid-header md-headline">Images Grid</header>

    <div class="ig-grid-container" ng-show="grid.images.length > 0">
        <img ng-src="{{ img.url }}"
             alt="{{ img.name }}" 
             ng-repeat="img in grid.images track by img.url"
             ng-click="grid.removeImage(img)"
             class="ig-grid-container--image"
             grid-image
        >
    </div>

    <div layout="column" layout-align="center center"
        class="ig-grid-spinner"
        ng-show="grid.showSpinner"
    >
        <md-progress-circular md-diameter="96"></md-progress-circular>
    </div>

    <div class="ig-grid-counter">
        {{ grid.images.length }} images on grid
    </div>
</md-content>